{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block extra_head %}
{{ block.super }}
{% endblock %}
{% block whitebox %}
<h2 class="custom-heading">Welcome back!</h2>
<form method="post" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="mb-3">
    <label>Username or Email</label>
    {% render_field form.login class="input input-bordered w-full custom-input" %}
  </div>
  <div class="mb-3">
    <label>Password</label>
    {% render_field form.password class="input input-bordered w-full custom-input" %}
  </div>
  <button type="submit" class="btn btn-primary w-full sign-in">Sign In</button>
  <p class="mt-3 text-sm">
    <a href="{% url 'account_signup' %}" class="link">Create account</a>
  </p>
</form>
{% endblock %}



