{% extends 'base.html' %}

{% block head_title %}Home -{{ block.super }}{% endblock head_title %}

{% block content %}
<h1 class="text-3xl font-medium mb-4 text-center">{{ page_title }}</h1>
<h1 class='text-lg font-big'> Succcess Welcome  !</h1>

<div class='type-subscription'>
    {{subscription.id}}

</div>


<h1 class='text-lg font-big'> Type of subscription{{subscription.name}}</h1>



<div class='mb-12'>
    {{ subscription }}
</div>

<div>
    {{ checkout }}
</div>


{% endblock content %}
